.btn {
  border: none;
  border-radius: var(--sd-radius-1);
  cursor: pointer;
  font-size: var(--sd-font-size-1);
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: var(--sd-button-box-shadow);
  font-style: normal;
  font-weight: var(--sd-font-weights-source-sans-pro-0);
  padding: var(--sd-spacing-2) var(--sd-spacing-3);
}
  
  .btn-sm {
    padding: var(--sd-spacing-1) var(--sd-spacing-2);
    font-size: var(--sd-font-size-0);
  }
  
  .btn-md {
    padding: var(--sd-spacing-2) var(--sd-spacing-3);
    font-size: var(--sd-font-size-1);
  }
  
  .btn-lg {
    padding: var(--sd-spacing-3) var(--sd-spacing-4);
    font-size: var(--sd-font-size-3);
  }

.btn-fullWidth {
  width: 100%;
}

.btn-primary-filled {
  border: 1px solid var(--sd-bg-btn-primary);
  background-color: var(--sd-bg-btn-primary);
  color: var(--sd-bg-onprimary);
}

.btn-primary-outline {
  border: 1px solid var(--sd-bg-btn-primary);
  background-color: #FFF;
  color: var(--sd-bg-btn-primary);
}

.btn-primary-filled:hover,
.btn-primary-outline:hover {
  background-color: var(--sd-bg-btn-primary-hover);
  color: var(--sd-bg-onprimary);
}

.btn-secondary-filled {
  border: 1px solid var(--sd-bg-btn-secondary);
  background-color: var(--sd-bg-btn-secondary);
  color: var(--sd-bg-onprimary);
}

.btn-secondary-outline {
  border: 1px solid var(--sd-bg-btn-secondary);
  color: var(--sd-bg-btn-secondary);
  background-color: #FFF;
}

.btn-secondary-filled:hover,
.btn-secondary-outline:hover {
  background-color: var(--sd-bg-btn-secondary-hover);
  color: var(--sd-bg-onprimary);
}

.btn-primary-link {
  border: 1px solid #FFF;
  color: var(--sd-bg-btn-primary);
  background: none;
}

.btn-primary-link:hover {
  color: var(--sd-bg-btn-primary-hover);
}

.btn-secondary-link {
  border: 1px solid #FFF;
  color: var(--sd-bg-btn-secondary);
  background: none;
}

.btn-secondary-link:hover {
  color: var(--sd-bg-btn-secondary-hover);
}

.btn:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
  opacity: 0.7;
}

.rounded-0 {
  border-radius: 0px !important;
}

.rounded-5 {
  border-radius: 5px !important;
}
.rounded-10 {
  border-radius: 10px !important;
}

.rounded-pill {
  border-radius: var(--sd-radius-5) !important;
}