.header {
  background: #F7F7F7; /* Subtle gradient for depth */
  color: #1F2937; /* Dark slate gray for text */
  padding: 10px 5%;
  text-align: left; /* Align text to the left */
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  justify-content: flex-start; /* Align items to the left */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.header:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Enhanced shadow on hover */
}

.header-name {
  font-size: 26px; /* Slightly larger for prominence */
  font-weight: 600; /* Medium-bold for modern look */
  font-family: 'Inter', 'Arial', sans-serif; /* Modern font stack */
  letter-spacing: 0.5px; /* Subtle letter spacing for elegance */
  margin: 0;
  padding-left: 15px; /* Add spacing from the left edge */
}
.login-button {
  background-color: #b2dfdb; /* Blue background */
  color: #1976d2; /* White text */
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', 'Arial', sans-serif;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background-color: #00796B; /* Darker blue on hover */
  color: #FFFFFF; /* White text */
  transform: scale(1.05); /* Slight zoom effect */
}